<div class="modal fade" id="addLogEntryModal" tabindex="-1" role="dialog" aria-labelledby="addLogEntryModal-label" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addLogEntryForm" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addLogEntryModal-label">Add Log Entry</h4>
                </div>
                <div class="modal-body" style="padding-bottom: 0;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="Trials">Text</label>
                        <div class="col-sm-9">
                            @(Html.TextArea("Text", new { style = "width: 100%; resize: none;", id = "Text", required = "", @class = "includeHidden", rows = 4 })
                            )

                            @*@(Html.Kendo().NumericTextBox<int>()
                                .Name("Trials")
                                .Value(100)
                                .Decimals(0)
                                .Placeholder("Enter Trials")
                                .HtmlAttributes(new { style = "width: 100%", id = "Trials", required = "", @class = "includeHidden" })
                            )*@
                        </div>
                    </div>

                    @(Html.Hidden("TimeStamp", DateTime.Now.ToString(), new { id = "TimeStamp", required = "", @class = "includeHidden" }))
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
